@charset "UTF-8";
body {
  background-color: powderblue;
}
h1 {
  color: blue;
}
p {
  color: red;
}

td {
  text-align: center;
  height: 50px;
}

table, th, td {
  border: 1px solid black;
}

/* #t01 {
  width: 100%; 
  background-color: #f1f1c1;
}  */


#t01 tr:nth-child(even) {
  background-color: #eee;
}
#t01 tr:nth-child(odd) {
  background-color: #fff;
}
#t01 th {
	height: 50px;
  color: white;
  background-color: black;
} 

#t01{
	width : 40%;
	height : 100%;
}

.center {
  text-align: center;
  border: 10px solid green;
  padding: 100px;
  font-size: 350%;
}
